@import url("https://fonts.googleapis.com/css2?family=Licorice&display=swap");
body {
  font-family: "Times New Roman", Times, serif;
  margin: 0px;
}
.verticallineinh1 {
  font-size: 60px;
  margin: 30px;
  border-left: 5px solid;
  border-color: rgb(255, 0, 212);
  padding: 2%;
}
p {
  margin: 30px;
  text-align: justify;
}

.firstglance {
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 45px;
  margin: 30px;
  font-weight: 800;
  background-color: rgb(46, 25, 25);
  background-image: linear-gradient(rgb(255, 0, 149), rgb(243, 8, 47));
  color: rgb(0, 0, 0);
}
.sectionflexibility {
  display: flex;
  margin-bottom: 30px;
}
.imageandtextstyle {
  width: 80%;
  padding: 5%;
}
.imageandtextstyle img {
  width: 80%;
  padding: 10%;
}
.h1 {
  font-size: 40px;
  margin: 30px;
  text-align: center;
}
.img1 {
  width: 50%;
  margin-top: 5px;
  padding-left: 0px;
}
.boxmission {
  width: 30%;
  margin-right: -5%;
  margin-left: 10%;
  padding-left: 30px;
  border-radius: 20px;
  background-color: rgba(83, 11, 105, 0.171);
}
.padding {
  margin-left: -2px;
}
.boxvission {
  width: 30%;
  margin-right: -5%;
  margin-left: 10%;
  padding-left: 30px;
  border-radius: 20px;
  background-color: rgba(0, 148, 216, 0.171);
}
.boxgoals {
  width: 30%;
  margin-right: -5%;
  margin-left: 10%;
  padding-left: 30px;
  border-radius: 20px;
  background-color: rgba(255, 0, 221, 0.212);
}
.sectiontwopadding {
  padding: 0px;
  margin-left: 1%;
  margin-right: 13%;
}
.sectiontwobackground {
  background-image: url(shapes/shape-6.png);
  background-repeat: no-repeat;
  background-position-x: 45%;
  background-position-y: 55%;
  background-size: 30%;
}
.imageandtextstyle2 {
  width: 80%;
  padding: 5%;
}
.imageandtextstyle2 img {
  width: 70%;
  padding: 5%;
}
.verticallineinh {
  font-size: 60px;
  margin: 30px;
}
.linkedin {
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 45px;
  margin: 60px;
  font-weight: 800;
  background-color: rgb(46, 25, 25);
  background-image: linear-gradient(rgb(255, 0, 149), rgb(243, 8, 47));
  color: rgb(0, 0, 0);
}
.verticallineinh3 {
  font-size: 45px;
  margin: 10px;
}
.sectiontwobackground2 {
  background-image: url(shapes/shape-1.png);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: right;
}
.p2 {
  margin: 10px;
  text-align: justify;
}
.bestnews {
  text-align: center;
  font-weight: 800;
  font-size: 60px;
}
.sectiontwobackground2 {
  background-image: url(shapes/shape-1.png);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: right;
}

.sectionthreebackground3 {
  background-image: url(shapes/shape-3.png);
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: right;
  background-position-x: 90%;
  background-position-y: 10%;
}
.wrapper {
  min-height: 100vh;
  color: #000;
  font-family: "Muli", sans-serif;
  font-size: 1rem;
  background-color: #f1e8e6;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.container {
  background-color: #fff;
  padding: 1em;
  border-radius: 1em;
  max-width: 768px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-shadow: 0px 17px 34px -20px #f55951;
  box-shadow: 0px 17px 34px -20px #f55951;
}
.title {
  font-size: 1.6rem;
  font-weight: 700;
}

.text {
  font-size: 1rem;
  margin-bottom: 0.8em;
}
.mail {
  padding: 0.5em 0 0.5em 1.5em;
  line-height: 3;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 0.5em;
  margin-bottom: 1em;
}
.img {
  width: 100%;
  height: auto;
  border-radius: 1em 1em 0 0;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.subscribe {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: #f55951;
  padding: 0.9em 0;
  display: inline-block;
  border: none;
  border-radius: 0.5em;
  width: 100%;
  margin-bottom: 1.3em;
}

.text {
  font-size: 0.9rem;
  width: 90%;
  text-align: center;
}

.img__container {
  height: 200px;
  overflow: hidden;
  margin-bottom: 1.5em;
}

.footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(12, 1, 24);
  color: rgb(255, 255, 255);
}
.footerclass {
  font-family: "Licorice", sans-serif;
  text-align: center;
}
